%h1 Добро пожаловать!
%h5
  Данная система поможет Вам планировать периоды отпусков оргагизации со сложной дифференциацией
  сотрудников в соотвествии с ч.1 ст.123 ТК РФ. Система ускорит Вашу работу
  и уменьшит вероятность появления ошибок в документах.
%h5
  В данной системе
  Вы сможете просматривать информацию о сотрудниках и их отпусках,
  добавлять новые и актуализировать старые данные, работать с выбранными периодами отпусков и
  автозаполняемыми шаблонами: заявлений, уведомлений и приказов на предоставление отпуска.
  Раздел Договоры предоставит Вам всю необходимую информацию о трудовых условиях каждого из сотрудников
  и о положенных им количествах дней отпуска.
